header {
  padding: 3.6rem;
  background-color: #0b1a3d;
  position: sticky;
  top: 0;
  height: 100vh;
  width: 45rem;
  flex-shrink: 0;
}

.navbar {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.navbar a:hover {
  opacity: 0.8;
}

.navbar li {
  margin: 1rem 0;
  font-size: 1.5rem;
}

.navbar ul li a {
  font-size: 3.6rem;
  letter-spacing: 0.3rem;
}

.profile img {
  max-width: 250px;
  border-radius: 100%;
  border: 6px solid rgba(161, 214, 255, 0.3);
}

@media (max-width: 768px) {
  header {
    padding: 1rem;
    background-color: #0b1a3d;
    position: fixed;
    top: 0;
    width: 100%;
    height: auto;
  }
  body {
    margin-top: 12rem;
  }
  .navbar {
    flex-direction: row;
    gap: 3rem;
  }

  .navbar li {
    margin: 0;
    font-size: 1rem;
  }

  .navbar ul {
    display: flex;
    gap: 1.8rem;
  }

  .navbar ul li a {
    font-size: 2.4rem;
    letter-spacing: 0rem;
  }

  .profile img {
    max-width: 100px;
  }
}
