section {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0rem 3rem;
  border-bottom: 1px solid #e1e0e0;
}

.info {
  font-weight: 600;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100rem;
  border-bottom: 1px solid #e1e0e0;
  padding-bottom: 1.6rem;
}

.info p {
  font-weight: 400;
  font-size: 4rem;
}

.info p:last-of-type {
  line-height: 2.5rem;
  font-size: 2.5rem;
}

.info h3 {
  font-weight: 400;
  font-size: 3rem;
  text-transform: capitalize;
}

.buttonLink {
  text-align: center;
  border: none;
  border-radius: 3rem;
  width: 15%;
  padding: 1rem;
  font-size: 1.5rem;
  background-color: #0b1a3d;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.buttonLink:hover {
  background-color: #172f69;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.contacts span {
  font-weight: 400;
  font-size: 2rem;
  text-transform: none;
  letter-spacing: 0.1rem;
}

.linkContact {
  display: flex;
  gap: 2rem;
  margin: 2rem 0;
}

#skills .tags_list li {
  font-size: 1.6rem;
  white-space: nowrap;
}

.tags_list {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: #fff;
  padding-bottom: 2rem;
}

.tags_list li {
  background-color: #0d2763;
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  padding: 0.5rem 1.5rem;
  border-radius: 1rem;
}
